*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 30%;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C2DFFF;
    border-radius: 20px;
}
.container h1{
    text-decoration: underline 2px;
}
.container form{
    width: 55%;
}
.container form input{
    width: 100%;
    border: none;
    background-color: #fff;
    outline: none;
    padding: 5px;
}
button{
    padding: 10px 25px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #5473FF;
    color: white;
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.05);
}